--
-- PostgreSQL database dump
--

\restrict TuCc0VAfb5YNYOdBEQiUUuEjfgdF8ZmIXqYBVqksp1NIH281Fb1oZ4FAtGEFpb2

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: company_jobs_search_update(); Type: FUNCTION; Schema: public; Owner: amitsharma
--

CREATE FUNCTION public.company_jobs_search_update() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.search_vector := to_tsvector('english', 
        COALESCE(NEW.title, '') || ' ' || 
        COALESCE(NEW.description, '') || ' ' || 
        COALESCE(NEW.location, '') || ' ' ||
        COALESCE(array_to_string(NEW.skills, ' '), '')
    );
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.company_jobs_search_update() OWNER TO amitsharma;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: amitsharma
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO amitsharma;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    ip_address character varying(50),
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO amitsharma;

--
-- Name: candidate_internal_ratings; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.candidate_internal_ratings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    candidate_id uuid NOT NULL,
    private_rating integer,
    recruiter_notes text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT candidate_internal_ratings_private_rating_check CHECK (((private_rating >= 1) AND (private_rating <= 5)))
);


ALTER TABLE public.candidate_internal_ratings OWNER TO amitsharma;

--
-- Name: candidates; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.candidates (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    full_name text DEFAULT ''::text NOT NULL,
    phone text,
    location text,
    bio text,
    skills text[] DEFAULT '{}'::text[] NOT NULL,
    experience integer DEFAULT 0 NOT NULL,
    education text,
    resume_url text,
    avatar_url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.candidates OWNER TO amitsharma;

--
-- Name: TABLE candidates; Type: COMMENT; Schema: public; Owner: amitsharma
--

COMMENT ON TABLE public.candidates IS 'Candidate profiles linked to users';


--
-- Name: companies; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.companies (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    name text DEFAULT ''::text NOT NULL,
    description text,
    industry text,
    website text,
    location text,
    logo_url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    verified_status boolean DEFAULT false,
    job_credits integer DEFAULT 5
);


ALTER TABLE public.companies OWNER TO amitsharma;

--
-- Name: TABLE companies; Type: COMMENT; Schema: public; Owner: amitsharma
--

COMMENT ON TABLE public.companies IS 'Company profiles linked to users';


--
-- Name: company_jobs; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.company_jobs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid NOT NULL,
    title text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    location text,
    job_type text DEFAULT 'full_time'::text NOT NULL,
    salary_min integer,
    salary_max integer,
    skills text[] DEFAULT '{}'::text[] NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    views integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    search_vector tsvector,
    is_remote boolean DEFAULT false NOT NULL,
    currency_code character varying(3) DEFAULT 'INR'::character varying,
    work_location_type character varying(20) DEFAULT 'ON_SITE'::character varying,
    visa_sponsorship boolean DEFAULT false,
    CONSTRAINT company_jobs_work_location_type_check CHECK (((work_location_type)::text = ANY ((ARRAY['REMOTE'::character varying, 'HYBRID'::character varying, 'ON_SITE'::character varying])::text[])))
);


ALTER TABLE public.company_jobs OWNER TO amitsharma;

--
-- Name: TABLE company_jobs; Type: COMMENT; Schema: public; Owner: amitsharma
--

COMMENT ON TABLE public.company_jobs IS 'Private job postings with full-text search support';


--
-- Name: company_reviews; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.company_reviews (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    candidate_id uuid NOT NULL,
    rating integer NOT NULL,
    review_text text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT company_reviews_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.company_reviews OWNER TO amitsharma;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.courses (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    provider text NOT NULL,
    title text NOT NULL,
    url text NOT NULL,
    duration text,
    mode text,
    level text,
    skills text[] DEFAULT '{}'::text[] NOT NULL,
    description text,
    thumbnail_url text,
    price text,
    is_free boolean DEFAULT true NOT NULL,
    source text NOT NULL,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    enrollment_count integer,
    rating text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.courses OWNER TO amitsharma;

--
-- Name: crawled_jobs; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.crawled_jobs (
    id integer NOT NULL,
    source_id integer,
    job_type character varying(20) DEFAULT 'GOVT'::character varying,
    title character varying(255) NOT NULL,
    company_or_dept character varying(255) NOT NULL,
    location character varying(255),
    qualification_req text,
    salary_or_pay_scale character varying(100),
    apply_url text NOT NULL,
    source_attribution character varying(255) NOT NULL,
    hash_checksum character varying(64) NOT NULL,
    status character varying(50) DEFAULT 'ACTIVE'::character varying,
    is_taken_down boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.crawled_jobs OWNER TO amitsharma;

--
-- Name: crawled_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: amitsharma
--

CREATE SEQUENCE public.crawled_jobs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.crawled_jobs_id_seq OWNER TO amitsharma;

--
-- Name: crawled_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: amitsharma
--

ALTER SEQUENCE public.crawled_jobs_id_seq OWNED BY public.crawled_jobs.id;


--
-- Name: crawler_logs; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.crawler_logs (
    id integer NOT NULL,
    source_id integer,
    jobs_found integer DEFAULT 0,
    jobs_added integer DEFAULT 0,
    duplicates_found integer DEFAULT 0,
    status character varying(50) NOT NULL,
    error_message text,
    execution_time_ms integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    jobs_saved integer DEFAULT 0,
    errors text,
    started_at timestamp with time zone DEFAULT now(),
    completed_at timestamp with time zone DEFAULT now(),
    source character varying(100)
);


ALTER TABLE public.crawler_logs OWNER TO amitsharma;

--
-- Name: crawler_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: amitsharma
--

CREATE SEQUENCE public.crawler_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.crawler_logs_id_seq OWNER TO amitsharma;

--
-- Name: crawler_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: amitsharma
--

ALTER SEQUENCE public.crawler_logs_id_seq OWNED BY public.crawler_logs.id;


--
-- Name: crawler_sources; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.crawler_sources (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    category character varying(50) DEFAULT 'GOVT_JOB'::character varying NOT NULL,
    source_type character varying(50) NOT NULL,
    base_url text NOT NULL,
    robots_txt_url text,
    is_active boolean DEFAULT true,
    last_crawled_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.crawler_sources OWNER TO amitsharma;

--
-- Name: crawler_sources_id_seq; Type: SEQUENCE; Schema: public; Owner: amitsharma
--

CREATE SEQUENCE public.crawler_sources_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.crawler_sources_id_seq OWNER TO amitsharma;

--
-- Name: crawler_sources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: amitsharma
--

ALTER SEQUENCE public.crawler_sources_id_seq OWNED BY public.crawler_sources.id;


--
-- Name: email_queue; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.email_queue (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    recipient text NOT NULL,
    subject text NOT NULL,
    body text NOT NULL,
    status text DEFAULT 'pending'::text,
    attempts integer DEFAULT 0,
    last_error text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.email_queue OWNER TO amitsharma;

--
-- Name: file_uploads; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.file_uploads (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    file_type text NOT NULL,
    file_url text NOT NULL,
    original_name text NOT NULL,
    file_size bigint,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.file_uploads OWNER TO amitsharma;

--
-- Name: gov_forms_info; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.gov_forms_info (
    id integer NOT NULL,
    source_id integer,
    title character varying(255) NOT NULL,
    conducting_body character varying(255) NOT NULL,
    form_type character varying(50) NOT NULL,
    official_website text NOT NULL,
    notification_pdf text,
    hash_checksum character varying(64) NOT NULL,
    is_taken_down boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.gov_forms_info OWNER TO amitsharma;

--
-- Name: gov_forms_info_id_seq; Type: SEQUENCE; Schema: public; Owner: amitsharma
--

CREATE SEQUENCE public.gov_forms_info_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gov_forms_info_id_seq OWNER TO amitsharma;

--
-- Name: gov_forms_info_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: amitsharma
--

ALTER SEQUENCE public.gov_forms_info_id_seq OWNED BY public.gov_forms_info.id;


--
-- Name: government_forms; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.government_forms (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title text NOT NULL,
    department text,
    category text,
    pdf_url text,
    official_apply_url text,
    deadline timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.government_forms OWNER TO amitsharma;

--
-- Name: job_applications; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.job_applications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    job_id uuid NOT NULL,
    candidate_id uuid NOT NULL,
    status text DEFAULT 'applied'::text NOT NULL,
    cover_letter text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT job_applications_status_check CHECK ((status = ANY (ARRAY['applied'::text, 'reviewed'::text, 'shortlisted'::text, 'rejected'::text, 'hired'::text])))
);


ALTER TABLE public.job_applications OWNER TO amitsharma;

--
-- Name: TABLE job_applications; Type: COMMENT; Schema: public; Owner: amitsharma
--

COMMENT ON TABLE public.job_applications IS 'Job applications with status tracking';


--
-- Name: job_categories; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.job_categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    icon text,
    color text,
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.job_categories OWNER TO amitsharma;

--
-- Name: job_reports; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.job_reports (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid NOT NULL,
    job_type character varying(20) NOT NULL,
    reporter_user_id uuid,
    reason text NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.job_reports OWNER TO amitsharma;

--
-- Name: job_trades; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.job_trades (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    category_id uuid NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    qualification_req text,
    min_salary integer,
    max_salary integer,
    demand_level text DEFAULT 'NORMAL'::text NOT NULL,
    icon text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT job_trades_demand_level_check CHECK ((demand_level = ANY (ARRAY['CRITICAL'::text, 'HIGH'::text, 'MEDIUM'::text, 'NORMAL'::text])))
);


ALTER TABLE public.job_trades OWNER TO amitsharma;

--
-- Name: jobs_government; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.jobs_government (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title text NOT NULL,
    department text,
    location text,
    apply_url text,
    last_date date,
    source text NOT NULL,
    eligibility text,
    vacancy_count integer,
    salary text,
    exam_date date,
    notification_pdf_url text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    job_region text DEFAULT 'india'::text NOT NULL,
    search_vector tsvector GENERATED ALWAYS AS (to_tsvector('english'::regconfig, ((((((COALESCE(title, ''::text) || ' '::text) || COALESCE(department, ''::text)) || ' '::text) || COALESCE(eligibility, ''::text)) || ' '::text) || COALESCE(location, ''::text)))) STORED,
    job_hash character varying(64)
);


ALTER TABLE public.jobs_government OWNER TO amitsharma;

--
-- Name: TABLE jobs_government; Type: COMMENT; Schema: public; Owner: amitsharma
--

COMMENT ON TABLE public.jobs_government IS 'Government job postings with full-text search support';


--
-- Name: jobs_private; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.jobs_private (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company text NOT NULL,
    title text NOT NULL,
    location text,
    url text,
    salary text,
    experience text,
    job_type text,
    skills text[],
    description text,
    source text NOT NULL,
    is_active boolean DEFAULT true,
    posted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    job_region text DEFAULT 'india'::text NOT NULL,
    search_vector tsvector GENERATED ALWAYS AS (to_tsvector('english'::regconfig, ((((((COALESCE(title, ''::text) || ' '::text) || COALESCE(location, ''::text)) || ' '::text) || COALESCE(company, ''::text)) || ' '::text) || COALESCE(description, ''::text)))) STORED,
    job_hash character varying(64)
);


ALTER TABLE public.jobs_private OWNER TO amitsharma;

--
-- Name: TABLE jobs_private; Type: COMMENT; Schema: public; Owner: amitsharma
--

COMMENT ON TABLE public.jobs_private IS 'Private job listings with full-text search support';


--
-- Name: platform_stats; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.platform_stats (
    id integer NOT NULL,
    total_users integer DEFAULT 0,
    total_jobs integer DEFAULT 0,
    total_applications integer DEFAULT 0,
    active_crawlers integer DEFAULT 0,
    last_updated timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.platform_stats OWNER TO amitsharma;

--
-- Name: platform_stats_id_seq; Type: SEQUENCE; Schema: public; Owner: amitsharma
--

CREATE SEQUENCE public.platform_stats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.platform_stats_id_seq OWNER TO amitsharma;

--
-- Name: platform_stats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: amitsharma
--

ALTER SEQUENCE public.platform_stats_id_seq OWNED BY public.platform_stats.id;


--
-- Name: platform_videos; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.platform_videos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title text NOT NULL,
    description text,
    thumbnail_url text,
    video_url text NOT NULL,
    category text,
    duration text,
    views_count bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.platform_videos OWNER TO amitsharma;

--
-- Name: presigned_url_log; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.presigned_url_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    file_key text NOT NULL,
    expires_at timestamp with time zone,
    used boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.presigned_url_log OWNER TO amitsharma;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.refresh_tokens (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    ip_hash text,
    ua_hash text,
    expires_at timestamp with time zone NOT NULL,
    revoked boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO amitsharma;

--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.schema_migrations (
    version bigint NOT NULL,
    dirty boolean NOT NULL
);


ALTER TABLE public.schema_migrations OWNER TO amitsharma;

--
-- Name: takedown_requests; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.takedown_requests (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id integer,
    form_id integer,
    requester text NOT NULL,
    reason text NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    resolved_at timestamp with time zone
);


ALTER TABLE public.takedown_requests OWNER TO amitsharma;

--
-- Name: user_enrollments; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.user_enrollments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    trade_id uuid NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    enrolled_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    completed_at timestamp with time zone,
    progress_pct integer DEFAULT 0 NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_enrollments_progress_pct_check CHECK (((progress_pct >= 0) AND (progress_pct <= 100))),
    CONSTRAINT user_enrollments_status_check CHECK ((status = ANY (ARRAY['active'::text, 'completed'::text, 'expired'::text, 'cancelled'::text])))
);


ALTER TABLE public.user_enrollments OWNER TO amitsharma;

--
-- Name: user_notification_logs; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.user_notification_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    enrollment_id uuid,
    notification_type text NOT NULL,
    channel text DEFAULT 'in_app'::text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    sent_at timestamp with time zone DEFAULT now() NOT NULL,
    read_at timestamp with time zone,
    clicked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_notification_logs_channel_check CHECK ((channel = ANY (ARRAY['in_app'::text, 'email'::text, 'push'::text, 'sms'::text]))),
    CONSTRAINT user_notification_logs_notification_type_check CHECK ((notification_type = ANY (ARRAY['expiry_warning'::text, 'expiry_final'::text, 'enrollment_reminder'::text, 'course_update'::text])))
);


ALTER TABLE public.user_notification_logs OWNER TO amitsharma;

--
-- Name: users; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    role text DEFAULT 'candidate'::text NOT NULL,
    phone text,
    avatar_url text,
    is_active boolean DEFAULT true,
    is_verified boolean DEFAULT false,
    last_login timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    google_id character varying,
    linkedin_id character varying,
    preferred_language character varying(10) DEFAULT 'en'::character varying,
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['candidate'::text, 'company'::text, 'admin'::text, 'superadmin'::text])))
);


ALTER TABLE public.users OWNER TO amitsharma;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: amitsharma
--

COMMENT ON TABLE public.users IS 'Central user authentication table';


--
-- Name: youtube_videos; Type: TABLE; Schema: public; Owner: amitsharma
--

CREATE TABLE public.youtube_videos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    channel text NOT NULL,
    channel_id text,
    title text NOT NULL,
    url text NOT NULL,
    thumbnail text,
    description text,
    video_id text NOT NULL,
    published_at timestamp with time zone,
    duration text,
    view_count bigint,
    like_count bigint,
    category text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.youtube_videos OWNER TO amitsharma;

--
-- Name: crawled_jobs id; Type: DEFAULT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.crawled_jobs ALTER COLUMN id SET DEFAULT nextval('public.crawled_jobs_id_seq'::regclass);


--
-- Name: crawler_logs id; Type: DEFAULT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.crawler_logs ALTER COLUMN id SET DEFAULT nextval('public.crawler_logs_id_seq'::regclass);


--
-- Name: crawler_sources id; Type: DEFAULT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.crawler_sources ALTER COLUMN id SET DEFAULT nextval('public.crawler_sources_id_seq'::regclass);


--
-- Name: gov_forms_info id; Type: DEFAULT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.gov_forms_info ALTER COLUMN id SET DEFAULT nextval('public.gov_forms_info_id_seq'::regclass);


--
-- Name: platform_stats id; Type: DEFAULT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.platform_stats ALTER COLUMN id SET DEFAULT nextval('public.platform_stats_id_seq'::regclass);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.audit_logs (id, user_id, action, ip_address, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: candidate_internal_ratings; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.candidate_internal_ratings (id, company_id, candidate_id, private_rating, recruiter_notes, created_at) FROM stdin;
\.


--
-- Data for Name: candidates; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.candidates (id, user_id, full_name, phone, location, bio, skills, experience, education, resume_url, avatar_url, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.companies (id, user_id, name, description, industry, website, location, logo_url, created_at, updated_at, verified_status, job_credits) FROM stdin;
\.


--
-- Data for Name: company_jobs; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.company_jobs (id, company_id, title, description, location, job_type, salary_min, salary_max, skills, is_active, views, created_at, updated_at, search_vector, is_remote, currency_code, work_location_type, visa_sponsorship) FROM stdin;
\.


--
-- Data for Name: company_reviews; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.company_reviews (id, company_id, candidate_id, rating, review_text, created_at) FROM stdin;
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: amitsharma
--



--
-- Data for Name: crawled_jobs; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.crawled_jobs (id, source_id, job_type, title, company_or_dept, location, qualification_req, salary_or_pay_scale, apply_url, source_attribution, hash_checksum, status, is_taken_down, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: crawler_logs; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.crawler_logs (id, source_id, jobs_found, jobs_added, duplicates_found, status, error_message, execution_time_ms, created_at, jobs_saved, errors, started_at, completed_at, source) FROM stdin;
1	\N	0	0	0	COMPLETED	\N	0	2026-09-17 08:49:27.234859+00	1171		2026-09-17 08:49:26.234859+00	2026-09-17 08:49:27.234859+00	\N
\.


--
-- Data for Name: crawler_sources; Type: TABLE DATA; Schema: public; Owner: amitsharma
--



--
-- Data for Name: email_queue; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.email_queue (id, recipient, subject, body, status, attempts, last_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: file_uploads; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.file_uploads (id, user_id, file_type, file_url, original_name, file_size, created_at) FROM stdin;
\.


--
-- Data for Name: gov_forms_info; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.gov_forms_info (id, source_id, title, conducting_body, form_type, official_website, notification_pdf, hash_checksum, is_taken_down, created_at) FROM stdin;
1	\N	Format of Certificates	Gov Portal	APPLICATION_FORM	https://ssc.gov.in/for-candidates/form-of-certificates	\N	3eda1943a72b967302dfc7308fb524ac2ed88c5a198347604f7c1642533b10d0	f	2026-09-17 08:49:27.16307+00
2	\N	Right To Information	Gov Portal	APPLICATION_FORM	https://ssc.gov.in/about-us/rti	\N	31179e159f16a662f95a8e8139cb3d36181ceb81b48d9f9d638ec18433fd09d6	f	2026-09-17 08:49:27.220328+00
\.


--
-- Data for Name: government_forms; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.government_forms (id, title, department, category, pdf_url, official_apply_url, deadline, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: job_applications; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.job_applications (id, job_id, candidate_id, status, cover_letter, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: job_categories; Type: TABLE DATA; Schema: public; Owner: amitsharma
--



--
-- Data for Name: job_reports; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.job_reports (id, job_id, job_type, reporter_user_id, reason, status, created_at) FROM stdin;
\.


--
-- Data for Name: job_trades; Type: TABLE DATA; Schema: public; Owner: amitsharma
--



--
-- Data for Name: jobs_government; Type: TABLE DATA; Schema: public; Owner: amitsharma
--



--
-- Data for Name: jobs_private; Type: TABLE DATA; Schema: public; Owner: amitsharma
--



--
-- Data for Name: platform_stats; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.platform_stats (id, total_users, total_jobs, total_applications, active_crawlers, last_updated) FROM stdin;
1	0	0	0	0	2026-09-17 07:26:14.919468+00
\.


--
-- Data for Name: platform_videos; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.platform_videos (id, title, description, thumbnail_url, video_url, category, duration, views_count, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: presigned_url_log; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.presigned_url_log (id, user_id, file_key, expires_at, used, created_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.refresh_tokens (id, user_id, ip_hash, ua_hash, expires_at, revoked, created_at) FROM stdin;
\.


--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.schema_migrations (version, dirty) FROM stdin;
28	f
\.


--
-- Data for Name: takedown_requests; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.takedown_requests (id, job_id, form_id, requester, reason, status, created_at, resolved_at) FROM stdin;
\.


--
-- Data for Name: user_enrollments; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.user_enrollments (id, user_id, trade_id, status, enrolled_at, expires_at, completed_at, progress_pct, metadata, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_notification_logs; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.user_notification_logs (id, user_id, enrollment_id, notification_type, channel, title, message, payload, sent_at, read_at, clicked_at, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: amitsharma
--

COPY public.users (id, name, email, password_hash, role, phone, avatar_url, is_active, is_verified, last_login, created_at, updated_at, google_id, linkedin_id, preferred_language) FROM stdin;
\.


--
-- Data for Name: youtube_videos; Type: TABLE DATA; Schema: public; Owner: amitsharma
--



--
-- Name: crawled_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: amitsharma
--

SELECT pg_catalog.setval('public.crawled_jobs_id_seq', 1, false);


--
-- Name: crawler_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: amitsharma
--

SELECT pg_catalog.setval('public.crawler_logs_id_seq', 1, true);


--
-- Name: crawler_sources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: amitsharma
--

SELECT pg_catalog.setval('public.crawler_sources_id_seq', 42, true);


--
-- Name: gov_forms_info_id_seq; Type: SEQUENCE SET; Schema: public; Owner: amitsharma
--

SELECT pg_catalog.setval('public.gov_forms_info_id_seq', 2, true);


--
-- Name: platform_stats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: amitsharma
--

SELECT pg_catalog.setval('public.platform_stats_id_seq', 1, false);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: candidate_internal_ratings candidate_internal_ratings_company_id_candidate_id_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.candidate_internal_ratings
    ADD CONSTRAINT candidate_internal_ratings_company_id_candidate_id_key UNIQUE (company_id, candidate_id);


--
-- Name: candidate_internal_ratings candidate_internal_ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.candidate_internal_ratings
    ADD CONSTRAINT candidate_internal_ratings_pkey PRIMARY KEY (id);


--
-- Name: candidates candidates_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: company_jobs company_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.company_jobs
    ADD CONSTRAINT company_jobs_pkey PRIMARY KEY (id);


--
-- Name: company_reviews company_reviews_company_id_candidate_id_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.company_reviews
    ADD CONSTRAINT company_reviews_company_id_candidate_id_key UNIQUE (company_id, candidate_id);


--
-- Name: company_reviews company_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.company_reviews
    ADD CONSTRAINT company_reviews_pkey PRIMARY KEY (id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: crawled_jobs crawled_jobs_hash_checksum_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.crawled_jobs
    ADD CONSTRAINT crawled_jobs_hash_checksum_key UNIQUE (hash_checksum);


--
-- Name: crawled_jobs crawled_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.crawled_jobs
    ADD CONSTRAINT crawled_jobs_pkey PRIMARY KEY (id);


--
-- Name: crawler_logs crawler_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.crawler_logs
    ADD CONSTRAINT crawler_logs_pkey PRIMARY KEY (id);


--
-- Name: crawler_sources crawler_sources_name_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.crawler_sources
    ADD CONSTRAINT crawler_sources_name_key UNIQUE (name);


--
-- Name: crawler_sources crawler_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.crawler_sources
    ADD CONSTRAINT crawler_sources_pkey PRIMARY KEY (id);


--
-- Name: email_queue email_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.email_queue
    ADD CONSTRAINT email_queue_pkey PRIMARY KEY (id);


--
-- Name: file_uploads file_uploads_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.file_uploads
    ADD CONSTRAINT file_uploads_pkey PRIMARY KEY (id);


--
-- Name: gov_forms_info gov_forms_info_hash_checksum_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.gov_forms_info
    ADD CONSTRAINT gov_forms_info_hash_checksum_key UNIQUE (hash_checksum);


--
-- Name: gov_forms_info gov_forms_info_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.gov_forms_info
    ADD CONSTRAINT gov_forms_info_pkey PRIMARY KEY (id);


--
-- Name: government_forms government_forms_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.government_forms
    ADD CONSTRAINT government_forms_pkey PRIMARY KEY (id);


--
-- Name: job_applications job_applications_job_id_candidate_id_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_job_id_candidate_id_key UNIQUE (job_id, candidate_id);


--
-- Name: job_applications job_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_pkey PRIMARY KEY (id);


--
-- Name: job_categories job_categories_name_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_categories
    ADD CONSTRAINT job_categories_name_key UNIQUE (name);


--
-- Name: job_categories job_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_categories
    ADD CONSTRAINT job_categories_pkey PRIMARY KEY (id);


--
-- Name: job_categories job_categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_categories
    ADD CONSTRAINT job_categories_slug_key UNIQUE (slug);


--
-- Name: job_reports job_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_reports
    ADD CONSTRAINT job_reports_pkey PRIMARY KEY (id);


--
-- Name: job_trades job_trades_category_id_slug_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_trades
    ADD CONSTRAINT job_trades_category_id_slug_key UNIQUE (category_id, slug);


--
-- Name: job_trades job_trades_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_trades
    ADD CONSTRAINT job_trades_pkey PRIMARY KEY (id);


--
-- Name: jobs_government jobs_government_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.jobs_government
    ADD CONSTRAINT jobs_government_pkey PRIMARY KEY (id);


--
-- Name: jobs_private jobs_private_job_hash_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.jobs_private
    ADD CONSTRAINT jobs_private_job_hash_key UNIQUE (job_hash);


--
-- Name: jobs_private jobs_private_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.jobs_private
    ADD CONSTRAINT jobs_private_pkey PRIMARY KEY (id);


--
-- Name: platform_stats platform_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.platform_stats
    ADD CONSTRAINT platform_stats_pkey PRIMARY KEY (id);


--
-- Name: platform_videos platform_videos_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.platform_videos
    ADD CONSTRAINT platform_videos_pkey PRIMARY KEY (id);


--
-- Name: presigned_url_log presigned_url_log_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.presigned_url_log
    ADD CONSTRAINT presigned_url_log_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (version);


--
-- Name: takedown_requests takedown_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.takedown_requests
    ADD CONSTRAINT takedown_requests_pkey PRIMARY KEY (id);


--
-- Name: user_enrollments user_enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.user_enrollments
    ADD CONSTRAINT user_enrollments_pkey PRIMARY KEY (id);


--
-- Name: user_enrollments user_enrollments_user_id_trade_id_status_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.user_enrollments
    ADD CONSTRAINT user_enrollments_user_id_trade_id_status_key UNIQUE (user_id, trade_id, status);


--
-- Name: user_notification_logs user_notification_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.user_notification_logs
    ADD CONSTRAINT user_notification_logs_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: youtube_videos youtube_videos_pkey; Type: CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.youtube_videos
    ADD CONSTRAINT youtube_videos_pkey PRIMARY KEY (id);


--
-- Name: idx_applications_candidate; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_applications_candidate ON public.job_applications USING btree (candidate_id, status, created_at DESC);


--
-- Name: idx_audit_user; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_audit_user ON public.audit_logs USING btree (user_id, created_at DESC);


--
-- Name: idx_candidates_location; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_candidates_location ON public.candidates USING btree (location);


--
-- Name: idx_candidates_skills; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_candidates_skills ON public.candidates USING gin (skills);


--
-- Name: idx_candidates_skills_trgm; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_candidates_skills_trgm ON public.candidates USING gin (bio public.gin_trgm_ops);


--
-- Name: idx_candidates_user_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_candidates_user_id ON public.candidates USING btree (user_id);


--
-- Name: idx_companies_industry; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_companies_industry ON public.companies USING btree (industry);


--
-- Name: idx_companies_location; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_companies_location ON public.companies USING btree (location);


--
-- Name: idx_companies_name_lower_unique; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE UNIQUE INDEX idx_companies_name_lower_unique ON public.companies USING btree (lower(name));


--
-- Name: INDEX idx_companies_name_lower_unique; Type: COMMENT; Schema: public; Owner: amitsharma
--

COMMENT ON INDEX public.idx_companies_name_lower_unique IS 'Prevents case-insensitive duplicate company names';


--
-- Name: idx_companies_user_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_companies_user_id ON public.companies USING btree (user_id);


--
-- Name: idx_company_jobs_company_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_company_id ON public.company_jobs USING btree (company_id);


--
-- Name: idx_company_jobs_created_at; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_created_at ON public.company_jobs USING btree (created_at DESC);


--
-- Name: idx_company_jobs_description_trgm; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_description_trgm ON public.company_jobs USING gin (description public.gin_trgm_ops);


--
-- Name: idx_company_jobs_is_active; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_is_active ON public.company_jobs USING btree (is_active);


--
-- Name: idx_company_jobs_is_remote; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_is_remote ON public.company_jobs USING btree (is_remote);


--
-- Name: idx_company_jobs_job_type; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_job_type ON public.company_jobs USING btree (job_type);


--
-- Name: idx_company_jobs_location; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_location ON public.company_jobs USING btree (location);


--
-- Name: idx_company_jobs_location_trgm; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_location_trgm ON public.company_jobs USING gin (location public.gin_trgm_ops);


--
-- Name: idx_company_jobs_search_vector; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_search_vector ON public.company_jobs USING gin (search_vector);


--
-- Name: idx_company_jobs_skills; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_skills ON public.company_jobs USING gin (skills);


--
-- Name: idx_company_jobs_title_trgm; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_company_jobs_title_trgm ON public.company_jobs USING gin (title public.gin_trgm_ops);


--
-- Name: idx_courses_created_at; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_courses_created_at ON public.courses USING btree (created_at DESC);


--
-- Name: idx_courses_is_active; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_courses_is_active ON public.courses USING btree (is_active);


--
-- Name: idx_courses_level; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_courses_level ON public.courses USING btree (level);


--
-- Name: idx_courses_mode; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_courses_mode ON public.courses USING btree (mode);


--
-- Name: idx_courses_provider; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_courses_provider ON public.courses USING btree (provider);


--
-- Name: idx_courses_skills; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_courses_skills ON public.courses USING gin (skills);


--
-- Name: idx_courses_source; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_courses_source ON public.courses USING btree (source);


--
-- Name: idx_courses_source_url_unique; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE UNIQUE INDEX idx_courses_source_url_unique ON public.courses USING btree (source, url);


--
-- Name: idx_crawled_hash; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_crawled_hash ON public.crawled_jobs USING btree (hash_checksum);


--
-- Name: idx_crawled_jobs_hash; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_crawled_jobs_hash ON public.crawled_jobs USING btree (hash_checksum);


--
-- Name: idx_crawled_jobs_source_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_crawled_jobs_source_id ON public.crawled_jobs USING btree (source_id);


--
-- Name: idx_crawled_jobs_status; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_crawled_jobs_status ON public.crawled_jobs USING btree (status) WHERE ((status)::text = 'ACTIVE'::text);


--
-- Name: idx_crawled_jobs_type; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_crawled_jobs_type ON public.crawled_jobs USING btree (job_type, is_taken_down);


--
-- Name: idx_file_uploads_user_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_file_uploads_user_id ON public.file_uploads USING btree (user_id);


--
-- Name: idx_gov_forms_deadline; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_gov_forms_deadline ON public.government_forms USING btree (deadline);


--
-- Name: idx_gov_jobs_created; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_gov_jobs_created ON public.jobs_government USING btree (created_at DESC);


--
-- Name: idx_gov_jobs_fts; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_gov_jobs_fts ON public.jobs_government USING gin (search_vector);


--
-- Name: idx_gov_jobs_source; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_gov_jobs_source ON public.jobs_government USING btree (source, created_at DESC);


--
-- Name: idx_job_applications_candidate_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_applications_candidate_id ON public.job_applications USING btree (candidate_id);


--
-- Name: idx_job_applications_created_at; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_applications_created_at ON public.job_applications USING btree (created_at DESC);


--
-- Name: idx_job_applications_job_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_applications_job_id ON public.job_applications USING btree (job_id);


--
-- Name: idx_job_applications_status; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_applications_status ON public.job_applications USING btree (status);


--
-- Name: idx_job_categories_display_order; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_categories_display_order ON public.job_categories USING btree (display_order);


--
-- Name: idx_job_categories_is_active; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_categories_is_active ON public.job_categories USING btree (is_active);


--
-- Name: idx_job_categories_slug; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_categories_slug ON public.job_categories USING btree (slug);


--
-- Name: idx_job_trades_category_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_trades_category_id ON public.job_trades USING btree (category_id);


--
-- Name: idx_job_trades_demand_level; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_trades_demand_level ON public.job_trades USING btree (demand_level);


--
-- Name: idx_job_trades_is_active; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_trades_is_active ON public.job_trades USING btree (is_active);


--
-- Name: idx_job_trades_slug; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_job_trades_slug ON public.job_trades USING btree (slug);


--
-- Name: idx_jobs_gov_cat_loc; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_gov_cat_loc ON public.jobs_government USING btree (department, location);


--
-- Name: idx_jobs_gov_department_trgm; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_gov_department_trgm ON public.jobs_government USING gin (department public.gin_trgm_ops);


--
-- Name: idx_jobs_gov_job_hash_unique; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE UNIQUE INDEX idx_jobs_gov_job_hash_unique ON public.jobs_government USING btree (job_hash);


--
-- Name: idx_jobs_gov_job_region; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_gov_job_region ON public.jobs_government USING btree (job_region);


--
-- Name: idx_jobs_gov_location_trgm; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_gov_location_trgm ON public.jobs_government USING gin (location public.gin_trgm_ops);


--
-- Name: idx_jobs_gov_source_apply_url_unique; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE UNIQUE INDEX idx_jobs_gov_source_apply_url_unique ON public.jobs_government USING btree (source, apply_url);


--
-- Name: idx_jobs_gov_title_trgm; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_gov_title_trgm ON public.jobs_government USING gin (title public.gin_trgm_ops);


--
-- Name: idx_jobs_priv_cat_loc; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_priv_cat_loc ON public.jobs_private USING btree (company, location);


--
-- Name: idx_jobs_priv_company_trgm; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_priv_company_trgm ON public.jobs_private USING gin (company public.gin_trgm_ops);


--
-- Name: idx_jobs_priv_job_region; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_priv_job_region ON public.jobs_private USING btree (job_region);


--
-- Name: idx_jobs_priv_location_trgm; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_priv_location_trgm ON public.jobs_private USING gin (location public.gin_trgm_ops);


--
-- Name: idx_jobs_priv_source_url_unique; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE UNIQUE INDEX idx_jobs_priv_source_url_unique ON public.jobs_private USING btree (source, url);


--
-- Name: idx_jobs_priv_title_trgm; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_priv_title_trgm ON public.jobs_private USING gin (title public.gin_trgm_ops);


--
-- Name: idx_jobs_private_company; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_private_company ON public.jobs_private USING btree (company);


--
-- Name: idx_jobs_private_created_at; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_private_created_at ON public.jobs_private USING btree (created_at DESC);


--
-- Name: idx_jobs_private_is_active; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_private_is_active ON public.jobs_private USING btree (is_active);


--
-- Name: idx_jobs_private_location; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_private_location ON public.jobs_private USING btree (location);


--
-- Name: idx_jobs_private_source; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_jobs_private_source ON public.jobs_private USING btree (source);


--
-- Name: idx_priv_jobs_fts; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_priv_jobs_fts ON public.jobs_private USING gin (search_vector);


--
-- Name: idx_priv_jobs_salary; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_priv_jobs_salary ON public.jobs_private USING btree (salary);


--
-- Name: idx_priv_jobs_type; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_priv_jobs_type ON public.jobs_private USING btree (job_type, created_at DESC);


--
-- Name: idx_refresh_tokens_expires; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_refresh_tokens_expires ON public.refresh_tokens USING btree (expires_at) WHERE (NOT revoked);


--
-- Name: idx_refresh_tokens_user_revoked; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_refresh_tokens_user_revoked ON public.refresh_tokens USING btree (user_id, revoked) WHERE (NOT revoked);


--
-- Name: idx_user_enrollments_expires_at; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_user_enrollments_expires_at ON public.user_enrollments USING btree (expires_at);


--
-- Name: idx_user_enrollments_status; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_user_enrollments_status ON public.user_enrollments USING btree (status);


--
-- Name: idx_user_enrollments_trade_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_user_enrollments_trade_id ON public.user_enrollments USING btree (trade_id);


--
-- Name: idx_user_enrollments_user_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_user_enrollments_user_id ON public.user_enrollments USING btree (user_id);


--
-- Name: idx_user_enrollments_user_status_expires; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_user_enrollments_user_status_expires ON public.user_enrollments USING btree (user_id, status, expires_at);


--
-- Name: idx_user_notification_logs_enrollment_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_user_notification_logs_enrollment_id ON public.user_notification_logs USING btree (enrollment_id);


--
-- Name: idx_user_notification_logs_sent_at; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_user_notification_logs_sent_at ON public.user_notification_logs USING btree (sent_at DESC);


--
-- Name: idx_user_notification_logs_type; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_user_notification_logs_type ON public.user_notification_logs USING btree (notification_type);


--
-- Name: idx_user_notification_logs_user_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_user_notification_logs_user_id ON public.user_notification_logs USING btree (user_id);


--
-- Name: idx_user_notification_logs_user_sent_at; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_user_notification_logs_user_sent_at ON public.user_notification_logs USING btree (user_id, sent_at DESC);


--
-- Name: idx_users_created_at; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_users_created_at ON public.users USING btree (created_at DESC);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_is_active; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_users_is_active ON public.users USING btree (is_active);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_yt_videos_category; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_yt_videos_category ON public.youtube_videos USING btree (category);


--
-- Name: idx_yt_videos_channel; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_yt_videos_channel ON public.youtube_videos USING btree (channel);


--
-- Name: idx_yt_videos_channel_id; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_yt_videos_channel_id ON public.youtube_videos USING btree (channel_id);


--
-- Name: idx_yt_videos_created_at; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_yt_videos_created_at ON public.youtube_videos USING btree (created_at DESC);


--
-- Name: idx_yt_videos_is_active; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_yt_videos_is_active ON public.youtube_videos USING btree (is_active);


--
-- Name: idx_yt_videos_published_at; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE INDEX idx_yt_videos_published_at ON public.youtube_videos USING btree (published_at DESC);


--
-- Name: idx_yt_videos_video_id_unique; Type: INDEX; Schema: public; Owner: amitsharma
--

CREATE UNIQUE INDEX idx_yt_videos_video_id_unique ON public.youtube_videos USING btree (video_id);


--
-- Name: company_jobs trg_company_jobs_search; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER trg_company_jobs_search BEFORE INSERT OR UPDATE OF title, description, location, skills ON public.company_jobs FOR EACH ROW EXECUTE FUNCTION public.company_jobs_search_update();


--
-- Name: candidates update_candidates_updated_at; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER update_candidates_updated_at BEFORE UPDATE ON public.candidates FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: companies update_companies_updated_at; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER update_companies_updated_at BEFORE UPDATE ON public.companies FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: company_jobs update_company_jobs_updated_at; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER update_company_jobs_updated_at BEFORE UPDATE ON public.company_jobs FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: courses update_courses_updated_at; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER update_courses_updated_at BEFORE UPDATE ON public.courses FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: job_applications update_job_applications_updated_at; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER update_job_applications_updated_at BEFORE UPDATE ON public.job_applications FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: job_categories update_job_categories_updated_at; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER update_job_categories_updated_at BEFORE UPDATE ON public.job_categories FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: job_trades update_job_trades_updated_at; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER update_job_trades_updated_at BEFORE UPDATE ON public.job_trades FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: user_enrollments update_user_enrollments_updated_at; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER update_user_enrollments_updated_at BEFORE UPDATE ON public.user_enrollments FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: youtube_videos update_youtube_videos_updated_at; Type: TRIGGER; Schema: public; Owner: amitsharma
--

CREATE TRIGGER update_youtube_videos_updated_at BEFORE UPDATE ON public.youtube_videos FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: candidate_internal_ratings candidate_internal_ratings_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.candidate_internal_ratings
    ADD CONSTRAINT candidate_internal_ratings_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON DELETE CASCADE;


--
-- Name: candidate_internal_ratings candidate_internal_ratings_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.candidate_internal_ratings
    ADD CONSTRAINT candidate_internal_ratings_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: candidates candidates_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: companies companies_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: company_jobs company_jobs_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.company_jobs
    ADD CONSTRAINT company_jobs_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: company_reviews company_reviews_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.company_reviews
    ADD CONSTRAINT company_reviews_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON DELETE CASCADE;


--
-- Name: company_reviews company_reviews_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.company_reviews
    ADD CONSTRAINT company_reviews_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: crawled_jobs crawled_jobs_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.crawled_jobs
    ADD CONSTRAINT crawled_jobs_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.crawler_sources(id);


--
-- Name: crawler_logs crawler_logs_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.crawler_logs
    ADD CONSTRAINT crawler_logs_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.crawler_sources(id);


--
-- Name: file_uploads file_uploads_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.file_uploads
    ADD CONSTRAINT file_uploads_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: gov_forms_info gov_forms_info_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.gov_forms_info
    ADD CONSTRAINT gov_forms_info_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.crawler_sources(id);


--
-- Name: job_applications job_applications_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON DELETE CASCADE;


--
-- Name: job_applications job_applications_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.company_jobs(id) ON DELETE CASCADE;


--
-- Name: job_reports job_reports_reporter_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_reports
    ADD CONSTRAINT job_reports_reporter_user_id_fkey FOREIGN KEY (reporter_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: job_trades job_trades_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.job_trades
    ADD CONSTRAINT job_trades_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.job_categories(id) ON DELETE CASCADE;


--
-- Name: presigned_url_log presigned_url_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.presigned_url_log
    ADD CONSTRAINT presigned_url_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_enrollments user_enrollments_trade_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.user_enrollments
    ADD CONSTRAINT user_enrollments_trade_id_fkey FOREIGN KEY (trade_id) REFERENCES public.job_trades(id) ON DELETE CASCADE;


--
-- Name: user_enrollments user_enrollments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.user_enrollments
    ADD CONSTRAINT user_enrollments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_notification_logs user_notification_logs_enrollment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.user_notification_logs
    ADD CONSTRAINT user_notification_logs_enrollment_id_fkey FOREIGN KEY (enrollment_id) REFERENCES public.user_enrollments(id) ON DELETE SET NULL;


--
-- Name: user_notification_logs user_notification_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: amitsharma
--

ALTER TABLE ONLY public.user_notification_logs
    ADD CONSTRAINT user_notification_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict TuCc0VAfb5YNYOdBEQiUUuEjfgdF8ZmIXqYBVqksp1NIH281Fb1oZ4FAtGEFpb2

